<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Doctor</title>
</head>

<body bgcolor="#98AFC7">
    <center>
        <form action="http://localhost:8080/shownewdoctor" method="POST">
            <h3 style="color: #004347">New Patient</h3>
            <p>Enter Doctor ID Number <input type="text" name="doctoridnumber" required></p>
            <p>Enter First Name <input type="text" name="doctorfirstname" required></p>
            <p>Enter Last Name <input type="text" name="doctorlastname" required></p>
            <p>Enter Password <input type="text" name="doctorpassword" required></p>
            <p>Enter Speciality <input type="text" name="doctorspeciality" required></p>
            <p>Enter Working Shift <input type="text" name="doctorworkingshift" required></p>
            <p>Enter Phone Number <input type="text" name="doctorphonenumber" required></p>
            <p>Enter Email Adress <input type="text" name="doctoremailaddress" required></p>
            <p><input type="submit" value="Create a New Doctor Account" /></p>
        </form>


        <h2><a href="\index">go back to login page</a></h2>
    </center>

</body>

</html>